<h1>Add a task to do</h1>
<form>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Title of To Do</label>
    <input type="text" class="form-control" id="ToDoInput" placeholder="To do Title">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <div class="mb-3">
    <label for="" class="form-label">Url by image</label>
    <input type="text" class="form-control" id="ToDoInput" placeholder="url by image">
  </div>
  <div class="mb-3">
    <select class="form-control">
      <option value="true">In progress</option>
      <option value="false">Complete</option>
    </select>
  </div>
  <button type="button" class="btn btn-success btn-lg">Add</button>
</form>
